.no-display {
    display: none !important;
}

.logo-dimen {
    width: 13rem;
}

::-webkit-scrollbar {
    display: none;
}

.coming-soon {
    color: green;
}

.dropdown.cn-col-4 {
    width: 220px !important;
}

.single-product-wrapper .product-img img {
    height: 372px;
}

.single-image-item {
    max-height: 80vh;
    height: auto;
    width: auto !important;
    margin-left: 20%;
    margin-top: 1rem;
}

#scrollUp {
    border-radius: 50px !important;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .logo-dimen {
        width: 7rem;
    }

    .single_catagory_area {
        margin-bottom: 1rem;
    }

    .single-image-item {
        margin-left: 26%;
    }
}

@media only screen and (max-width: 1330px) {
    .single-image-item {
        margin-left: 15%;
    }
}